################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/net6.0
/obj
/.vs
/Test Project/bin/Debug/net6.0
/Test Project/obj
/AnotherTest/obj
/AnotherTest/bin/Debug/net6.0
